registry=https://registry.npmjs.org/
@audibene:registry=https://audibene-199636132489.d.codeartifact.eu-central-1.amazonaws.com/npm/teleaudiology/
//audibene-199636132489.d.codeartifact.eu-central-1.amazonaws.com/npm/teleaudiology/:always-auth=true
//audibene-199636132489.d.codeartifact.eu-central-1.amazonaws.com/npm/teleaudiology/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
